h1{
    text-align: center;
}

.특징 {

    border-radius: 10px;
    margin: 20px; /* 공간 설정 */
    box-shadow: 0 0 10px #d7d7d7;
}


/******* 메뉴.html 에 작성한 styleSgeet ********** */

.메인 {
    width: 80%;
    margin: 20px auto;
}
.메뉴{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}
.아이템{
    text-align: center;
}
/*div 클래스 아에템 안에 있는 img만 크기 조정*/
img{
    width: 200px;
    border-radius: 100px;
}
/******* 메뉴.html 에 작성한 styleSgeet ********** */

.메인-주문하기 {
    width: 60%;
    background-color: white;
    padding: 20px ;
    margin: 20px auto; /*auto 경우 가운데 정렬과 같은 나열을 사용할 때 쓰임*/
    border-radius: 10px;
    box-shadow: 0 0 10px #d7d7d7;
    text-align: center;
}
.메인이미지 {
    width: 200px;
    height: 200px;
    margin: 20px;
}
.옵션이미지 {
    width: 100px;
    height: 100px;
}
.메인꾸미기{
    display: inline-flex;
    text-align: center;
    margin: 20px auto;
    
}